<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Encutar url</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<link rel="stylesheet" type="text/css" href="estilo.css">

	
<body>
<div class="barra">
	<a href="/lista">Lista de Urls</a>
</div>
	
	<div class="container">
		<div class="form">
		
			<form method="POST" id="form">
				<h1>encutador de url</h1>
				<label for="url">Digite a url</label>
				<input type="url" name="url" required id="url">
				<button type="submit" id="encurtar">encurtar</button>

			</form>
		</div>

      <div class="alert alert-secondary" role="alert">
		</div>





	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="scrypt.js"></script>
		

</body>
</html>
